.App {
  text-align: center;
  align-content: center;
  align-items: center;
  color: blue;
}

.button {
  background: red;
  border-radius: 8px;
  color: white;
  align-content: center;
  align-items: center;
}
